# Python virtual environment
.venv/

# Local environment variables
docker/postgres/.env

# Generated data
data/processed/

.env

# Python cache
src/__pycache__/*.pyc
src/extract/__pycache__/*.pyc
src/transform/__pycache__/*.pyc
src/load/__pycache__/*.pyc
*.py[cod]
