# Python virtual environment
.venv/

# Local environment variables
docker/postgres/.env

# Generated data
data/processed/

# Raw data
data/raw/

.env

# Python cache
__pycache__/
*.py[cod]

# Airflow runtime files
docker/airflow/logs/
